<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ListenerEx</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>MyServletListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ListenerTest</servlet-name>
    <servlet-class>ListenerTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerTest</servlet-name>
    <url-pattern>/L.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>PASS</param-name>
    <param-value>Greate DIII</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>BeerSelect</display-name>
    <servlet-name>BeerSelect</servlet-name>
    <servlet-class>BeerSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeerSelect</servlet-name>
    <url-pattern>/BeerSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileTransfer</display-name>
    <servlet-name>FileTransfer</servlet-name>
    <servlet-class>FileTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileTransfer</servlet-name>
    <url-pattern>/FileTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServTest</display-name>
    <servlet-name>ServTest</servlet-name>
    <servlet-class>ServTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServTest</servlet-name>
    <url-pattern>/ServTest</url-pattern>
  </servlet-mapping>
  
   <security-role>
  	<role-name>admin</role-name>
  </security-role>
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/loginPage.html</form-login-page>
  		<form-error-page>/loginError.html</form-error-page>
  	</form-login-config>	
  	
  </login-config>
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>test web secure</web-resource-name>
  		<url-pattern>/*</url-pattern>
  		<http-method>GET</http-method>
  		<http-method>POST</http-method>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>admin</role-name>
  	</auth-constraint>
  	<user-data-constraint>
  		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
  	</user-data-constraint>
  </security-constraint>  
</web-app>